@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@300&family=Permanent+Marker&display=swap');

:root {
	--primary-font: 'Permanent Marker', cursive;
	--secondary-font: 'Newsreader', serif;
	--primary-gray: #3a4750;
	--primary-orange: #ea9215;
}

/*NAVBAR*/
.logo {
	height: 200px;
	/*width: 90%;*/
	margin-bottom: 1.5rem;
}

.mlogo {
	width: 100%;
	margin-bottom: 20px;
}

.nav-container-m {
	background-color: var(--primary-gray);
}

.nav-container {
	background-color: var(--primary-gray);
	height: 100%;
}

hr.nav-line {
	border: solid 2px #eeeeed;
	width: 100%;
}

.nav-name {
	color: #eeeeed;
	font-family: var(--primary-font);
	font-size: 30px;
}

.nav-name-m {
	color: #eeeeed;
	font-family: var(--primary-font);
	font-size: 20px;
	text-align: center;
}

ul {
	list-style: none;
}

.logout-button {
	width: 80%;
	background-color: var(--primary-orange);
	font-family: var(--primary-font);
	color: #eeeeed;
	border: solid #eeeeed 2px;
	height: 38px;
	letter-spacing: 2px;
}

.logout-button-m {
	width: 80%;
	background-color: var(--primary-orange);
	font-family: var(--primary-font);
	color: #eeeeed;
	margin-top: 10px;
	border: solid #eeeeed 2px;
	height: 38px;
	letter-spacing: 2px;
}

#nav-item {
	color: #eeeeed;
	font-size: 20px;
	font-family: var(--secondary-font);
}

.navbar-toggler {
	background-color: #eeeeed !important;
	margin-bottom: 20px;
}

#nav-bars {
	margin-top: 20%;
	color: var(--primary-orange);
}

#nav-item-m {
	font-family: var(--secondary-font);
	color: #eeeeed;
	margin-left: 8%;
	font-size: 20px;
}

/*FOOTER*/
.footer {
	background-color: var(--primary-light);
	height: 4rem;
	bottom: 0;
	width: 100%;
	position: relative;
	margin-top: 2rem;
}

.footer > p {
	text-align: center;
	padding: 1.4rem 0;
	font-family: var(--primary-font);
	color: #7c7c7d;
}

/*HOME/SIGN-IN*/

#sign-in-form {
	font-family: var(--primary-font);
	color: var(--primary-gray);
	margin-top: 5rem;
}

.sign-in-header {
	padding-bottom: 2rem;
}

.sign-in-container {
	border: var(--primary-orange) solid 8px;
	max-width: 90%;
	margin-top: 4rem;
	padding: 30px;
}

.login-heading {
	margin-bottom: 1.5rem;
}

.form-group > label {
	font-size: 16px;
	margin-bottom: 10px;
	margin-top: 15px;
	text-align: left !important;
}

#emailHelp {
	margin-top: 0px;
}

.btn {
	background-color: var(--primary-orange) !important;
	margin-top: 1.5rem;
	color: var(--primary-gray);
	border: solid 2px var(--primary-gray) !important;
}

.home-logo {
	max-width: 100%;
}

/*DASHBOARD*/
.nav-section {
	margin-left: 0%;
}

.dash-container-m {
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.dash-heading-m {
	font-family: var(--primary-font);
	color: var(--primary-gray);
	margin-top: 30px;
	margin-left: 10px;
	font-size: 50px;
}

.dash-heading {
	font-family: var(--primary-font);
	color: var(--primary-gray);
	margin-top: 4.6rem;
	margin-left: 2rem;
	font-size: 70px;
}

.dash-subheading {
	font-family: var(--primary-font);
	color: var(--primary-gray);
	text-align: left !important;
	margin-left: 2rem;
	margin-top: 2rem;
}

.dash-subheading-m {
	font-family: var(--primary-font);
	color: var(--primary-gray);
	margin-left: 10px;
	margin-top: 2rem;
}

hr.dash-line {
	border: solid 2px var(--primary-orange);
	width: 100%;
}

hr.dash-line-m {
	border: solid 2px var(--primary-orange);
	width: 100%;
}

.dash-data {
	height: 200px;
	margin-left: 2rem;
}

.dash-data-m {
	height: 200px;
	margin-left: 10px;
}

/*INVENTORY*/

.inventory-container-m {
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.video-view {
	height: 150px;
	width: 300px;
}

.barcode-p {
	font-family: var(--secondary-font);
	font-size: 25px;
	text-align: center;
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
}

.item-info {
	height: 400px;
	width: 300px;
	border: solid 2px var(--primary-gray);
	padding: 20px 10px 20px 6px;
}

.info-text {
	color: var(--primary-orange);
	overflow-wrap: break-word;
	text-align: left !important;
	margin-bottom: 4px;
}

.info-text:hover {
	background-color: #fae4c5;
}

.clear-scans {
	width: 30%;
	background-color: var(--primary-orange);
	font-family: var(--primary-font);
	color: #eeeeed;
	border: solid #eeeeed 2px;
	height: 38px;
	letter-spacing: 2px;
	margin-top: 10px;
}

.clear-scans-m {
	width: 80%;
	margin-top: 10px;
	background-color: var(--primary-orange);
	font-family: var(--primary-font);
	color: #eeeeed;
	border: solid #eeeeed 2px;
	height: 38px;
	letter-spacing: 2px;
}

.save-quantity {
	width: 30%;
	background-color: var(--primary-orange);
	font-family: var(--primary-font);
	color: #eeeeed;
	border: solid #eeeeed 2px;
	height: 38px;
	letter-spacing: 2px;
	margin-top: 10px;
}

.save-quantity-m {
	width: 80%;
	margin-top: 10px;
	background-color: var(--primary-orange);
	font-family: var(--primary-font);
	color: #eeeeed;
	border: solid #eeeeed 2px;
	height: 38px;
	letter-spacing: 2px;
}

#distributer-select-m {
	margin-bottom: 20px;
	width: 70%;
	padding-left: 7px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#category-select-m {
	margin-bottom: 20px;
	width: 70%;
	padding-left: 7px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#distributer-select {
	margin-bottom: 20px;
	width: 30%;
	padding-left: 7px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#category-select {
	margin-bottom: 20px;
	width: 30%;
	padding-left: 7px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.quantity {
	font-size: 20px;
}

.set-amt {
	margin-top: 2rem;
}

.set-amt-m {
	margin-top: 20px;
}

.btl-img {
	max-width: 50%;
	height: 300px;
	margin-top: 20px;
}

/*SETTINGS*/

.take-inventory {
	font-family: var(--secondary-font);
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.settings-button-desktop {
	width: 30%;
	background-color: var(--primary-orange);
	font-family: var(--primary-font);
	color: #eeeeed;
	border: solid #eeeeed 2px;
	height: 38px;
	letter-spacing: 2px;
}

.settings-button {
	width: 80%;
	background-color: var(--primary-orange);
	font-family: var(--primary-font);
	color: #eeeeed;
	border: solid #eeeeed 2px;
	height: 38px;
	letter-spacing: 2px;
}

.setting-subheading {
	margin-top: 10px;
	margin-bottom: 20px;
}

#settings-textarea {
	margin-bottom: 20px;
}

.threshold-input {
	margin-right: 5px;
}

#clear-settings-btn-m {
	margin-top: 5px;
}

.current-settings {
	margin-top: 15px;
	margin-bottom: 15px;
	border: dotted var(--primary-orange) 3px;
	padding: 5px 7px 5px 7px;
}

.current-settings > h5 {
	text-align: center;
}
